/* Color Library */
$color-primary: #0073b6;
$color-lighter: #eef3f898;
$color-darker: #eef3f8;
$color-secondary: white;

/* Smartphones (portrait) ----------- */
@media screen and (max-width: 414px) and (orientation: portrait) {
  body {
    max-width: 100%;
  }
  nav {
    max-width: 100%;
    .topbarcontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;

      position: sticky;
      background-color: $color-secondary;
      box-shadow: 0px 10px 13px -7px #0000004f;

      /* Logo */
      .topbarLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 100%;
        height: 40%;
        margin-top: 20px;

        .logo-container {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
          width: 100%;
          .topbarlogo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            display: flex;
            width: 50px;
            height: 50px;
            img {
              background-color: $color-primary;
              border-radius: 10px;
              padding: 3px;
              height: 40px;
              width: 40px;
            }
            h1 {
              margin-left: 10px;
              margin-top: 10px;
              font-weight: 600;
              color: black;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
        .buttonContainer {
          display: flex;

          flex-direction: column;
          height: 150px;
          width: 80%;
          margin: auto;
          padding: 20px;
          button {
            display: flex;
            text-align: center;
            justify-content: center;
            margin-top: 20px;
            width: 100%;
            span {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

/* Smartphones (landscape) ----------- */
@media screen and (min-width: 320px) and (orientation: landscape) {
  body {
    max-width: 100%;
  }
  nav {
    
    .topbarcontainer {
      display: flex;
      position: sticky;
      min-width: 100%;
      background-color: $color-secondary;
      box-shadow: 0px 10px 13px -7px #0000004f;
      /* Logo */
      .topbarLeft {
        display: flex;
        width: 100%;
        height: 60px;
        padding: 10px;
        vertical-align: middle;
        .logo-container {
          display: flex;
          .topbarlogo {
            display: flex;
            flex-direction: row;
            margin-top: 6px;
            img {
              background-color: $color-primary;
              border-radius: 10px;
              padding: 3px;
              height: 40px;
              width: 40px;
            }
            h1 {
              margin-left: 10px;
              margin-top: 10px;
              font-weight: 600;
              color: black;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
        .buttonContainer {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 100%;
          padding: 10px;
          a {
            margin-right: 20px;
          }
          button {
            padding: 10px;
            width: 100%;
            span {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  body {
    max-width: 100%;
  }
  nav {
    max-width: 100%;
    .topbarcontainer {
      display: flex;
      position: sticky;
      max-width: 100%;
      background-color: $color-secondary;
      box-shadow: 0px 10px 13px -7px #0000004f;

      /* Logo */
      .topbarLeft {
        display: flex;
        width: 100%;
        height: 60px;
        padding: 10px;
        vertical-align: middle;

        .logo-container {
          display: flex;
          .topbarlogo {
            display: flex;
            flex-direction: row;
            margin-top: 6px;

            img {
              background-color: $color-primary;
              border-radius: 10px;
              padding: 3px;
              height: 40px;
              width: 40px;
            }
            h1 {
              margin-left: 10px;
              margin-top: 10px;
              font-weight: 600;

              color: black;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
        .buttonContainer {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 100%;
          padding: 10px;
          a {
            margin-right: 20px;
          }
          button {
            width: 100%;
            span {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: landscape) {
  body {
    max-width: 100%;
  }
  nav {
    max-width: 100%;
    .topbarcontainer {
      display: flex;
      position: sticky;
      max-width: 100%;
      background-color: $color-secondary;
      box-shadow: 0px 10px 13px -7px #0000004f;

      /* Logo */
      .topbarLeft {
        display: flex;
        width: 100%;
        height: 60px;
        padding: 10px;
        vertical-align: middle;

        .logo-container {
          display: flex;
          .topbarlogo {
            display: flex;
            flex-direction: row;
            margin-top: 6px;

            img {
              background-color: $color-primary;
              border-radius: 10px;
              padding: 3px;
              height: 40px;
              width: 40px;
            }
            h1 {
              margin-left: 10px;
              margin-top: 10px;
              font-weight: 600;

              color: black;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
        .buttonContainer {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 100%;
          padding: 10px;
          a {
            margin-right: 20px;
          }
          button {
            width: 100%;
            span {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
