/* Color Library */
$color-primary: #0073b6;
$color-lighter: #eef3f898;
$color-darker: #eef3f8;
$color-secondary: white;

/* Smartphones (portrait) ----------- */
@media screen and (min-width: 320px) and (max-width: 414px) and (orientation: portrait) {
  .container-middle {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .post {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      height: 600px;
      background-color: $color-secondary;
      box-shadow: 0px 10px 13px -7px #0000004f;
      .user-container {
        display: flex;
        flex-direction: row;
        height: 40px;
        width: 100%;
        padding: 5px;
        .user-profile {
          max-width: 50px;
          max-height: 50px;
        }
        .user-name {
          display: flex;
          flex-direction: column;
          margin-top: 8px;
          margin-left: 10px;
          .post-header {
            display: flex;
            height: 20px;
            width: 90%;
            font-size: small;
            justify-content: space-between;
            button {
              width: 40px;
              border-radius: 10px;
            }
            .PostTime {
              font-size: small;
              width: 250px;
              svg {
                font-size: small;
              }
            }
          }
        }
      }
      .post-container {
        display: flex;
        flex-direction: column;
        max-width: 414px;
        .post-content {
          display: flex;
          flex-direction: column;
          margin-top: 30px;
          height: 414px;
          padding: 10px;
          p {
            word-wrap: break-word;
            margin-bottom: 10px;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .post-footer {
        display: flex;
        flex-direction: column;
        .post-status {
          display: flex;
          justify-content: space-between;
          font-size: small;
          span {
            span {
              margin-left: 14px;
              font-weight: 400;
            }
          }
        }
        .post-btn {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;

          button {
            display: flex;
            height: 40px;
            width: 140px;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (orientation: portrait) {
  .container-middle {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .post {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      height: 600px;
      background-color: $color-secondary;
      box-shadow: 0px 10px 13px -7px #0000004f;
      .user-container {
        display: flex;
        flex-direction: row;
        height: 40px;
        width: 100%;
        padding: 5px;
        .user-profile {
          max-width: 50px;
          max-height: 50px;
        }
        .user-name {
          display: flex;
          flex-direction: column;
          margin-top: 8px;
          margin-left: 10px;
          justify-content: space-between;
          .post-header {
            display: flex;
            height: 20px;
            width: 100%;
            font-size: small;
            justify-content: space-between;
            button {
              width: 40px;
              border-radius: 10px;
              margin-right: 20px;
            }
            .PostTime {
              font-size: small;
              width: 250px;
              svg {
                font-size: small;
              }
            }
          }
        }
      }
      .post-container {
        display: flex;
        flex-direction: column;
        max-width: 414px;
        .post-content {
          display: flex;
          flex-direction: column;
          margin-top: 30px;
          height: 414px;
          padding: 10px;
          p {
            word-wrap: break-word;
            margin-bottom: 10px;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .post-footer {
        display: flex;
        flex-direction: column;
        .post-status {
          display: flex;
          justify-content: space-between;
          font-size: small;
          span {
            span {
              margin-left: 14px;
              font-weight: 400;
            }
          }
        }
        .post-btn {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;

          button {
            display: flex;
            height: 40px;
            width: 140px;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (orientation: landscape) {
  .container-middle {
    display: flex;
    margin: auto;
    flex-direction: column;
    height: 100%;

    .post {
      display: flex;
      flex-direction: column;
      height: 800px;
      width: 600px;
      padding: 10px;
      background-color: $color-secondary;
      box-shadow: 0px 10px 13px -7px #0000004f;
      .user-container {
        display: flex;
        flex-direction: row;
        height: 40px;
        width: 100%;
        padding: 5px;
        .user-profile {
          max-width: 50px;
          max-height: 50px;
        }
        .user-name {
          display: flex;
          flex-direction: column;
          margin-top: 8px;
          margin-left: 10px;
          width: 100%;

          .post-header {
            display: flex;
            height: 20px;
            width: 100%;
            font-size: small;
            justify-content: space-between;
            button {
              width: 40px;
              border-radius: 10px;
              margin-right: 20px;
            }
            .PostTime {
              font-size: small;
              width: 250px;
              svg {
                font-size: small;
              }
            }
          }
        }
      }
      .post-container {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        .post-content {
          display: flex;
          flex-direction: column;
          margin-top: 30px;
          height: 600px;
          padding: 10px;
          p {
            word-wrap: break-word;
            margin-bottom: 10px;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .post-footer {
        display: flex;
        flex-direction: column;
        .post-status {
          display: flex;
          justify-content: space-between;
          font-size: small;
          span {
            span {
              margin-left: 14px;
              font-weight: 400;
            }
          }
        }
        .post-btn {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;

          button {
            display: flex;
            height: 40px;
            width: 140px;
          }
        }
      }
    }
  }
}
