/* Color Library */
$color-primary: #0073b6;
$color-lighter: #eef3f898;
$color-darker: #eef3f8;
$color-secondary: white;

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 414px) {
  footer {
   

    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f8faff;
    text-align: center;
    margin-top: 60px;
    .container-footer {
      display: flex;
      flex-direction: column;
      margin: auto;

      padding: 40px;
      .footerLogo {
        display: flex;

        width: 50px;
        height: 50px;
        background: $color-primary;
        border-radius: 10px;
        img {
          margin: 5px;
          height: 40px;
          width: 40px;
        }
        h1 {
          margin-left: 10px;
          margin-top: 8px;
          font-weight: 600;
          color: black;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        list-style: none;
        text-decoration: none;
        h3 {
          margin-top: 16px;
        }
        span {
          &:hover {
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
  }
}

/* Smartphones (landscape) ----------- */
@media screen and (min-width: 320px) and (orientation: landscape) {
  footer {
    body {
      max-width: 100%;
    }

    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f8faff;
    text-align: center;
    margin-top: 60px;
    .container-footer {
      display: flex;
      flex-direction: column;
      margin: auto;

      padding: 40px;
      .footerLogo {
        display: flex;

        width: 50px;
        height: 50px;
        background: $color-primary;
        border-radius: 10px;
        img {
          margin: 5px;
          height: 40px;
          width: 40px;
        }
        h1 {
          margin-left: 10px;
          margin-top: 8px;
          font-weight: 600;
          color: black;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        list-style: none;
        text-decoration: none;
        h3 {
          margin-top: 16px;
        }
        span {
          &:hover {
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (orientation: portrait) {
  body {
    max-width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f8faff;
    text-align: center;
    margin-top: 60px;
    .container-footer {
      display: flex;
      flex-direction: column;
      margin: auto;

      padding: 40px;
      .footerLogo {
        display: flex;

        width: 50px;
        height: 50px;
        background: $color-primary;
        border-radius: 10px;
        img {
          margin: 5px;
          height: 40px;
          width: 40px;
        }
        h1 {
          margin-left: 10px;
          margin-top: 8px;
          font-weight: 600;
          color: black;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        list-style: none;
        text-decoration: none;
        h3 {
          margin-top: 16px;
        }
        span {
          &:hover {
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (orientation: landscape) {
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f8faff;
    text-align: center;
    margin-top: 60px;
    .container-footer {
      display: flex;
      flex-direction: column;
      margin: auto;
      padding: 40px;
      width: 100%;
      .footerLogo {
        display: flex;
        width: 50px;
        height: 50px;
        background: $color-primary;
        border-radius: 10px;
        img {
          margin: 5px;
          height: 40px;
          width: 40px;
        }
        h1 {
          margin-left: 10px;
          margin-top: 8px;
          font-weight: 600;
          color: black;
        }
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        list-style: none;
        text-decoration: none;
        h3 {
          margin-top: 16px;
        }
        span {
          &:hover {
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
  }
}
