/* Color Library */
$color-primary: #0073b6;
$color-lighter: #eef3f898;
$color-darker: #eef3f8;
$color-secondary: white;

.main {
  display: flex;
  flex-direction: column;
  .title-container {
    display: flex;
    justify-content: center;
    text-align: center;
    h2 {
      font-weight: 200;
      font-size: 50px;
      max-width: 485px;
    }
  }
  .input-container {
    display: flex;
    justify-content: center;
    form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      input {
        width: 500px;
      }

      button {
        margin-top: 40px;
        border: 2px solid #0073b6;
        height: 60px;
        width: 530px;
        font-size: 20px;
        cursor: pointer;
        &:hover {
          background: $color-primary;
          color: white;
        }
      }
      p {
        color: red;
      }
      svg {
        font-size: medium;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }
}
