/* Smartphones (portrait) ----------- */
@media screen and (max-width: 414px) and (orientation: portrait) {
  form {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .title-container {
      height: 60px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    }

    .input-container {
      display: flex;
      flex-direction: column;

      .User-container {
        display: flex;
        margin-left: 8px;
        transform: translateY(10px);
        .UserName {
          margin: 10px;
        }
      }
      .text-container {
        transform: translateY(30px);
        img {
          display: flex;
          max-width: 100%;
        }
      }
    }

    .btn-container {
      display: flex;
      flex-direction: column;
      transform: translateY(60px);
      height: 200px;
      margin-top: 10px;
      margin-bottom: 10px;
      align-items: center;
      min-width: 100%;
      input {
        display: flex;
        width: 100%;
      }
      button {
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: capitalize;
      }
      .btn {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
      }
      .Gif-Container {
        display: block;
        flex-direction: column;
        img {
          margin: 6px;
          width: 100px;
        }
        button {
          display: flex;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .show {
          display: block;
        }
      }
    }
  }
}
