/* Color Library */
$color-primary: #0073b6;
$color-lighter: #eef3f898;
$color-darker: #eef3f8;
$color-secondary: white;

/* Smartphones (portrait) ----------- */
@media screen and (max-width: 414px) and (orientation: portrait) {
  nav {
    .topbarContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100px;
      background-color: $color-secondary;
      box-shadow: 0px 10px 13px -7px #0000004f;

      .topbarLeft {
        display: flex;
        width: 100%;
        .logo-container {
          display: flex;
          width: 100%;
          .topbarLogo {
            display: flex;
            width: 50px;
            height: 50px;
            background: $color-primary;
            border-radius: 10px;
            img {
              margin: 5px;
              height: 40px;
              width: 40px;
            }
            h1 {
              margin-left: 10px;
              margin-top: 10px;
              font-weight: 600;
              color: black;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .topbarRight {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 10px;
      .notifications {
        display: flex;
      }
      .user-profile {
        display: flex;
        flex-direction: row;
        max-height: 50px;
      }
    }
  }
}

/* Smartphones (landscape) ----------- */
@media screen and (min-width: 320px) and (orientation: landscape) {
  nav {
    .topbarContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100px;
      background-color: $color-secondary;
      box-shadow: 0px 10px 13px -7px #0000004f;

      .topbarLeft {
        display: flex;
        width: 100%;
        .logo-container {
          display: flex;
          width: 100%;
          .topbarLogo {
            display: flex;
            width: 50px;
            height: 50px;
            background: $color-primary;
            border-radius: 10px;
            img {
              margin: 5px;
              height: 40px;
              width: 40px;
            }
            h1 {
              margin-left: 10px;
              margin-top: 10px;
              font-weight: 600;
              color: black;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .topbarRight {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      padding: 10px;
      .notifications {
        display: flex;
      }
      .user-profile {
        display: flex;
        flex-direction: row;
        max-height: 50px;
      }
    }
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
 nav {
    .topbarContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100px;
      background-color: $color-secondary;
      box-shadow: 0px 10px 13px -7px #0000004f;

      .topbarLeft {
        display: flex;
        width: 100%;
        .logo-container {
          display: flex;
          width: 100%;
          .topbarLogo {
            display: flex;
            width: 50px;
            height: 50px;
            background: $color-primary;
            border-radius: 10px;
            img {
              margin: 5px;
              height: 40px;
              width: 40px;
            }
            h1 {
              margin-left: 10px;
              margin-top: 10px;
              font-weight: 600;
              color: black;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .topbarRight {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      padding: 10px;
      .notifications {
        display: flex;
      }
      .user-profile {
        display: flex;
        flex-direction: row;
        max-height: 50px;
      }
    }
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: landscape) {
 nav {
    .topbarContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100px;
      background-color: $color-secondary;
      box-shadow: 0px 10px 13px -7px #0000004f;

      .topbarLeft {
        display: flex;
        width: 100%;
        .logo-container {
          display: flex;
          width: 100%;
          .topbarLogo {
            display: flex;
            width: 50px;
            height: 50px;
            background: $color-primary;
            border-radius: 10px;
            img {
              margin: 5px;
              height: 40px;
              width: 40px;
            }
            h1 {
              margin-left: 10px;
              margin-top: 10px;
              font-weight: 600;
              color: black;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .topbarRight {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      padding: 10px;
      .notifications {
        display: flex;
      }
      .user-profile {
        display: flex;
        flex-direction: row;
        max-height: 50px;
      }
    }
  }
}
