/* Color Library */
$color-primary: #0073b6;
$color-lighter: #eef3f898;
$color-darker: #eef3f8;
$color-secondary: white;

/* Nav container */

body {
  background-color: #f8faff;
}

.main {
  display: flex;
  flex-direction: column;

  .main-container {
    display: flex;
    max-height: 700px;
    
    .information-container {
      display: flex;
      flex-direction: column;
      margin-left: 300px;
      .input-container {
        margin-top: 40px;
      }
      h2 {
        font-weight: 200;
        font-size: 50px;
        max-width: 500px;
      }
      form {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        max-width: 500px;
        a {
          margin-top: 20px;
          max-width: 156px;
        }
        button {
          font-weight: 600;
          font-size: 20px;
          margin-top: 30px;
          padding: 20px;
          border-radius: 30px;
          cursor: pointer;
          background: $color-darker;
          border: 2px solid $color-primary;
          &:hover {
            background: $color-primary;
            color: white;
          }
        }
      }
    }
    .image-container {
      transform: translateY(-480px);
      margin-left: 850px;
      justify-content: right;
      img {
        pointer-events: none;
        max-width: 650px;
      }
    }
  }

  .banner-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 100px;
    background-color: white;
    height: 2000px;

    .character-container {
      display: flex;
      position: relative;

      padding: 10px;
      .character-1 {
        display: flex;
        margin-right: auto;
        display: flex;
        padding: 10px;
        width: 550px;
        pointer-events: none;
      }
      .character-2 {
        margin-top: 100px;
        display: flex;
        margin-left: auto;
        padding: 10px;
        width: 700px;
        pointer-events: none;
      }
      .character-3 {
        margin-top: 100px;
        display: flex;
        padding: 10px;
        margin-left: 230px;
        pointer-events: none;
      }
    }

    .text-container-1 {
      margin-top: 150px;
      display: flex;
      left: 880px;
      position: absolute;
      width: 500px;
      padding: 50px;
      background-color: $color-darker;
      flex-direction: column;
      p {
        font-size: 18px;
        margin-top: 20px;
      }
    }

    .text-container-2 {
      margin-top: 150px;
      display: flex;
      left: 220px;
      position: absolute;
      width: 500px;
      padding: 50px;
      background-color: $color-darker;
      flex-direction: column;

      p {
        font-size: 18px;
        margin-top: 20px;
      }
    }

    .text-container-3 {
      margin-top: 685px;
      display: flex;
      left: 500px;
      position: absolute;
      width: 500px;
      padding: 100px;
      background-color: $color-darker;
      flex-direction: column;
      text-align: center;
      p {
        font-size: 18px;
        margin-top: 20px;
      }
    }
  }

  .timeline {
    display: flex;
    width: 4px;
    position: absolute;
    background: #c9c8c2;
    height: 1605px;
    margin-left: 849px;
    .dot-1 {
      height: 40px;
      min-width: 40px;
      background-color: #c9c8c2;
      border-radius: 50px;
      margin-left: -18px;
      margin-top: 230px;
      z-index: 3;
    }

    .dot-2 {
      height: 40px;
      min-width: 40px;
      background-color: #c9c8c2;
      border-radius: 50px;
      margin-left: -40px;
      margin-top: 700px;
      z-index: 3;
    }

    .dot-3 {
      height: 40px;
      min-width: 40px;
      background-color: #c9c8c2;
      border-radius: 50px;
      margin-left: -40px;
      margin-top: 1600px;
      z-index: 3;
    }
  }
}
