/* Color Library */
$color-primary: #0073b6;
$color-lighter: #eef3f898;
$color-darker: #eef3f8;
$color-secondary: white;

/* Smartphones (portrait) ----------- */
@media screen and (max-width: 414px) and (orientation: portrait) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    .main-container {
      display: flex;
      flex-direction: column;
      .information-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        margin-bottom: 20px;

        h2 {
          font-size: 30px;
          text-align: center;
          max-width: 100%;
          height: 100px;
          padding: 20px;
        }
        .Input-container {
          display: flex;
          margin: auto;
          padding: 20px;
          max-width: 414px;
          form {
            display: flex;
            width: 250px;
            margin: auto;
          }
          .input {
            display: flex;
            width: 100%;
            margin: auto;
            input {
              background-color: white;
            }
          }
          button {
            width: 100%;
          }
        }
        .image-container {
          display: none;
          justify-content: center;

          img {
            width: 100%;
          }
        }
      }
    }
    .banner-container {
      display: flex;
      flex-direction: column;
      width: 100;
      text-align: center;
    }
    .timeline {
      display: none;
    }
    .character-container {
      display: block;
      margin-top: 40px;
      .text-container {
        padding: 10px;
        h2 {
          margin: 10px;
        }
        p {
          margin: 10px;
          margin-bottom: 30px;
        }
      }

      img {
        padding: 10px;
        width: 80%;
        height: 60%;
        border-radius: 10px;
        background-color: white;
      }
    }
  }
}

/* Smartphones (landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 768px) and (orientation: landscape) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    .main-container {
      display: flex;
      flex-direction: column;
      .information-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        margin-bottom: 20px;
        h2 {
          margin: auto;
          font-size: 35px;
          text-align: center;
          max-width: 60%;
          transform: translateY(-40px);
        }
        .Input-container {
          display: flex;
          margin: auto;
          padding: 20px;
          max-width: 414px;
          form {
            display: flex;
            width: 100%;
            margin: auto;
          }
          .input {
            display: flex;
            width: 100%;

            margin: auto;
            input {
              background-color: white;
            }
          }
          button {
            width: 100%;
          }
        }
        .image-container {
          display: none;
          justify-content: center;
          img {
            width: 100%;
          }
        }
      }
    }
    .banner-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    .timeline {
      display: none;
    }
    .character-container {
      display: block;

      margin-top: 40px;
      .text-container {
        padding: 10px;
        h2 {
          margin: 10px;
        }
        p {
          margin: 10px;
          margin-bottom: 30px;
        }
      }

      img {
        padding: 10px;
        width: 80%;
        height: 60%;
        border-radius: 10px;
        background-color: white;
      }
    }
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .body {
    background-color: #f8faff;

    .main {
      display: flex;
      flex-direction: column;
      width: 100%;
      .main-container {
        display: flex;
        flex-direction: row;
        .information-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          z-index: 99999;
          height: 550px;
          h2 {
            margin-left: 60px;
            font-size: 35px;
            text-align: center;
            max-width: 30%;
          }
          .Input-container {
            display: flex;
            padding: 20px;
            max-width: 414px;
            form {
              display: flex;
              width: 100%;
              margin: auto;
            }
            .input {
              display: flex;
              width: 100%;

              margin: auto;
              input {
                background-color: white;
              }
            }
            button {
              width: 100%;
            }
          }
          .image-container {
            display: flex;
            justify-content: flex-end;
            transform: translateY(-450px);
            margin-left: 200px;
            z-index: -1;
            img {
              width: 60%;
            }
          }
        }
      }
      .banner-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: $color-secondary;
        box-shadow: 0px 0px 13px -7px #0000004f;
      }
      .timeline {
        display: none;
      }
      .character-container {
        display: block;
        margin-top: 40px;
        .text-container {
          padding: 10px;
          h2 {
            margin: 10px;
          }
          p {
            margin: 10px;
            margin-bottom: 30px;
          }
        }

        img {
          padding: 10px;
          width: 50%;
          height: 60%;
          border-radius: 10px;
          background-color: white;
        }
      }
    }
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: landscape) {
  .body {
    background-color: #f8faff;

    .main {
      display: flex;
      flex-direction: column;
      width: 100%;
      .main-container {
        display: flex;
        flex-direction: row;
        .information-container {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          z-index: 99999;
          height: 550px;
          margin-left: 200px;
          h2 {
            margin-left: 60px;
            font-size: 35px;
            text-align: center;
            max-width: 30%;
          }
          .Input-container {
            display: flex;
            padding: 20px;
            max-width: 414px;
            form {
              display: flex;
              width: 100%;
              margin: auto;
            }
            .input {
              display: flex;
              width: 100%;

              margin: auto;
              input {
                background-color: white;
              }
            }
            button {
              width: 100%;
            }
          }
          .image-container {
            display: flex;
            justify-content: flex-end;
            transform: translateY(-450px);
            margin-left: 200px;
            z-index: -1;
            img {
              width: 60%;
            }
          }
        }
      }
      .banner-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: $color-secondary;
        box-shadow: 0px 0px 13px -7px #0000004f;
      }
      .timeline {
        display: none;
      }
      .character-container {
        display: block;
        margin-top: 40px;
        .text-container {
          padding: 10px;
          h2 {
            margin: 10px;
          }
          p {
            margin: 10px;
            margin-bottom: 30px;
          }
        }

        img {
          padding: 10px;
          width: 50%;
          height: 60%;
          border-radius: 10px;
          background-color: white;
        }
      }
    }
  }
}
