/* Color Library */
$color-primary: #0073b6;
$color-lighter: #eef3f898;
$color-darker: #eef3f8;
$color-secondary: white;

/* Smartphones (portrait) ----------- */
@media screen and (max-width: 414px) and (orientation: portrait) {
  body {
    max-width: 100%;
  }
  .main-body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    .main-container {
      display: flex;
      flex-direction: column;
      .information-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        margin-bottom: 20px;

        h2 {
          font-size: 30px;
          text-align: center;
          max-width: 100%;
          height: 100px;
          padding: 20px;
        }
        .Input-container {
          display: flex;
          flex-direction: column;
          margin: auto;
          padding: 20px;
          max-width: 414px;
          form {
            display: flex;
            flex-direction: column;
            width: 250px;
            margin: auto;
          }
          .input {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: auto;
            input {
              background-color: white;
            }
          }
          button {
            width: 100%;
            height: 40px;
            background-color: $color-primary;
            color: white;
            font-weight: 600;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .image-container {
          display: none;
          justify-content: center;

          img {
            display: none;
            width: 100%;
          }
        }
      }
    }
    .banner-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    .timeline {
      display: none;
    }
    .character-container {
      display: block;
      margin-top: 40px;
      .text-container {
        padding: 10px;
        h2 {
          margin: 10px;
        }
        p {
          margin: 10px;
          margin-bottom: 30px;
        }
      }

      img {
        padding: 10px;
        width: 80%;
        height: 60%;
        border-radius: 10px;
        background-color: white;
      }
    }
  }
}

/* Smartphones (landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 896px) and (max-height: 414px) and (orientation: landscape) {
  body {
    max-width: 100%;
  }
  .main-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    .main-container {
      display: flex;
      flex-direction: column;
      .information-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        margin-bottom: 20px;
        h2 {
          margin: auto;
          font-size: 35px;
          text-align: center;
          max-width: 60%;
          margin-top: 20px;
        }
        .Input-container {
          display: flex;
          flex-direction: column;
          margin: auto;
          padding: 20px;
          max-width: 414px;
          form {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: auto;
          }
          .input {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: auto;
            input {
              background-color: white;
            }
          }
          button {
            width: 100%;
            height: 40px;
            background-color: $color-primary;
            color: white;
            font-weight: 600;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .image-container {
          display: none;
          justify-content: center;
          img {
            width: 100%;
          }
        }
      }
    }
    .banner-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    .timeline {
      display: none;
    }
    .character-container {
      display: block;

      margin-top: 40px;
      .text-container {
        padding: 10px;
        h2 {
          margin: 10px;
        }
        p {
          margin: 10px;
          margin-bottom: 30px;
        }
      }

      img {
        padding: 10px;
        width: 80%;
        height: 60%;
        border-radius: 10px;
        background-color: white;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (orientation: portrait) {
  body {
    max-width: 100%;
  }
  .main-body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    .main-container {
      display: flex;
      flex-direction: column;
      .information-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        margin-bottom: 20px;

        h2 {
          margin: auto;
          font-size: 30px;
          text-align: center;
          max-width: 300px;
          padding: 20px;
        }
        .Input-container {
          display: flex;
          flex-direction: column;
          margin: auto;
          padding: 20px;
          max-width: 614px;
          form {
            display: flex;
            flex-direction: column;
            width: 400px;
            margin: auto;
          }
          .input {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: auto;
            input {
              background-color: white;
            }
          }
          button {
            width: 100%;
            height: 40px;
            background-color: $color-primary;
            color: white;
            font-weight: 600;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .image-container {
          display: none;
          justify-content: center;

          img {
            width: 100%;
          }
        }
      }
    }
    .banner-container {
      display: flex;
      flex-direction: column;
      width: 100;
      text-align: center;
    }
    .timeline {
      display: none;
    }
    .character-container {
      display: block;
      margin-top: 40px;
      .text-container {
        padding: 10px;
        h2 {
          margin: 10px;
        }
        p {
          margin: auto;
          margin-bottom: 30px;
          width: 600px;
        }
      }

      img {
        padding: 10px;
        width: 80%;
        height: 60%;
        border-radius: 10px;
        background-color: white;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (orientation: landscape) {
  .main-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    .main-container {
      display: flex;
      flex-direction: row;
      background-color: #f8faff;
      max-width: 100%;
      height: 85vh;
      padding-bottom: 4%;
      .information-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: auto;

        h2 {
          font-size: 35px;
          text-align: center;
          max-width: 400px;
          margin-top: 20px;
          height: 130px;
          margin-bottom: 20px;
        }
        .Input-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          max-width: 600px;
          form {
            display: flex;
            flex-direction: column;
            width: 100%;
          }
          .input {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 10px;
            input {
              background-color: white;
            }
          }
          button {
            width: 100%;
            height: 40px;
            background-color: $color-primary;
            color: white;
            font-weight: 600;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .banner-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    .character-container {
      display: block;
      margin-top: 40px;
      .text-container {
        padding: 10px;
        h2 {
          margin: 10px;
        }
        p {
          margin: 10px;
          margin-bottom: 30px;
        }
      }

      img {
        padding: 10px;
        width: 20%;
        border-radius: 10px;
        background-color: white;
      }
    }
  }
}
