/* Color Library */
$color-primary: #0073b6;
$color-lighter: #eef3f898;
$color-darker: #eef3f8;
$color-secondary: white;


.btnSignup {
  height: 40px;
  width: 100px;
  &:hover {
    font-weight: 600;
    cursor: pointer;
    background-color: $color-primary;
    color: white;
  }
}

